@font-face {
   font-family: 'TT Lakes';
   src: url('fonts/TTLakes/TTLakes-Medium.eot'),
      url('fonts/TTLakes/TTLakes-Medium.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

* {
   font-family: 'TT Lakes' !important;
}

.main {
   width: 320px;
   height: 597px;
   margin: 0 auto;
}

.header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid #b8ffec;
   padding: 16px;
}

.header-start {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.header-end {
   display: flex;
   flex-direction: row;
}

.header__contacts {
   display: none;
}

.header__divider {
   padding-right: 16px;
}

.header__button {
   padding-right: 16px;
}

.header__divider.header__divider_hidden {
   display: none;
}

.main__title {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 20px 0;
}

.main__text {
   display: flex;
   flex-direction: row;
   align-items: center;
   font-size: 28px;
   font-weight: bold;
}

.main__highlidht {
   height: 40px;
   margin-right: 30px;
}

.main__title.main__header_hidden {
   display: none;
}

.nav {
   display: flex;
   flex-direction: row;
   overflow: auto;
   white-space: nowrap;
   margin-bottom: 24px;
}

.nav__item {
   font-size: 16px;
   line-height: 24px;
   letter-spacing: -0.2px;
   text-align: left;
   padding: 10px 20px;
}

.nav__item_active {
   border: 2px solid #b8ffec;
   border-radius: 5px;
}

.content__text {
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 0.2px;
   margin: 16px 0;
}

.content__suptext {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: 16px 0;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: -0.2px;
}

.content__text_hidden {
   display: none;
}

.content__expand {
   width: 24px;
   height: 24px;
   align-items: center;
   justify-content: center;
   display: flex;
}

.content__read-more {
   font-weight: 600;
   margin-left: 8px;
}

.image {
   width: 320px;
   height: 176px;
}

@media screen and (min-width: 770px) {
   .main {
      width: 784px;
      height: 504px;
      margin: 0 auto;
   }

   .header__divider.header__divider_hidden {
      display: block;
   }

   .header__contacts {
      display: flex;
   }

   .content {
      display: flex;
      flex-direction: row;
   }

   .content__text_hidden {
      display: block;
      margin-top: 10px;
   }

   .content__text_hidden span {
      display: none;
   }

   .image {
      width: 360px;
      height: 208px;
   }
}

@media screen and (min-width: 1120px) {
   .main {
      width: 1120px;
      height: 535px;
      margin: 0 auto;
   }

   .header {
      display: none;
   }

   .main__title.main__header_hidden {
      display: flex;
   }

   .main__title.main__header_hidden img:nth-child(2) {
      margin-right: 32px;
   }

   .main__title.main__header_hidden span {
      margin-right: 8px;
   }

   .content__text_hidden span {
      display: flex;
   }

   .image {
      width: 532px;
      height: 307px;
   }
}
