.main {
  padding: 20px;
  width: 320px;
  height: 597px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-start {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-start::after {
  content: url("./images/divider.png");
  margin-left: 30px;
  
}

.header-end {
  display: flex;
  flex-direction: row;
}

.header__button {
  padding: 12px 8px;
}
